* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #fff;
    font-family: system-ui;
}
.crud {
    width: 80%;
    margin: auto;
}

.header {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
}

input, #total {
    width: 100%;
    height: 30px;
    display: block;
    border: none;
    outline: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}

input:focus {
    background: #000;
    transform: scale(1.05);
}

.price {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 10px;
}


#total {
    background: rgb(164, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    
}

#total::before {
    content: "total : ";
}

button {
    width: 100%;
    background: #4f016e;
    color: white;
    border-radius: 20px; 
    cursor: pointer;
    height: 30px;
    border: none;
}
button:hover {
    background: #8e1eba;
    letter-spacing: .5px;
}

.btnSearch {
    display: flex;
    justify-content: space-between;
}

.btnSearch button {
    width: 45%;
}

table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table th {
    text-transform: uppercase;
}

#deleteAll {
    margin: 30px 0;
}
